
.footer{
	background: grey;
	text-align: center;
	padding: 20px;
}
.thumbnail{
    max-height: 400px;
    border: 0px solid white; 
}
.thumbnail>img{
	max-height: 300px;
}
.c3{
	height:auto;
}
.c4>div{
	height: 180px;
	width: 180px;
	margin-right: -30%;
}
.glyphicon-gift {
	margin-top: -150px;
    font-size: 180px;
}
.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  top: 40%;
  background: rgba(29, 106, 154, 0.72);
  color: rgb(228, 41, 41);
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
    /* background-color: grey; */
    color: rgb(228, 41, 41);
    background-color: transparent;
  visibility: visible;
  margin-bottom: 40%;
  opacity: 1.5;
}
.img__img{
    width:100%;
    height: auto;
}
.c5{
    width: 100%;
    border: 0px solid white; 
    /* outline: 0px solid transparent; */
}
.img__wrap>.thumbnail{
    border: 0px solid white;
}